<div class="carousel">
    <div class="home-page--photos">
        <span style="--i : 1;"><img [src]="images_desk[0].path" class="img-home" alt="Gidro" routerLink="/tous-les-secteurs/faune-et-flore"></span>
        <span style="--i : 2;"><img [src]="images_desk[1].path" class="img-home" alt="Baobab"   routerLink="/tous-les-secteurs/tourisme"></span>
        <span style="--i : 3;"><img [src]="images_desk[2].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/regions"></span>
        <span style="--i : 4;"><img [src]="images_desk[3].path" class="img-home" alt="Gidro"    routerLink="/tous-les-secteurs/transport"></span>
        <span style="--i : 5;"><img [src]="images_desk[4].path" class="img-home" alt="Baobab"   routerLink="/tous-les-secteurs/exportation"></span>
        <span style="--i : 6;"><img [src]="images_desk[5].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/routes"></span>
        <span style="--i : 7;"><img [src]="images_desk[6].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/tourisme"></span>
    </div>
    <div class="photos--phone">
        <span style="--i : 1;"><img [src]="images_desk[0].path" class="img-home" alt="Gidro" routerLink="/tous-les-secteurs/faune-et-flore"></span>
        <span style="--i : 2;"><img [src]="images_desk[1].path" class="img-home" alt="Baobab"   routerLink="/tous-les-secteurs/tourisme"></span>
        <span style="--i : 3;"><img [src]="images_desk[2].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/regions"></span>
        <span style="--i : 4;"><img [src]="images_desk[3].path" class="img-home" alt="Gidro"    routerLink="/tous-les-secteurs/transport"></span>
        <span style="--i : 5;"><img [src]="images_desk[4].path" class="img-home" alt="Baobab"   routerLink="/tous-les-secteurs/exportation"></span>
        <span style="--i : 6;"><img [src]="images_desk[5].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/routes"></span>
        <span style="--i : 7;"><img [src]="images_desk[6].path" class="img-home" alt="Ravinala" routerLink="/tous-les-secteurs/tourisme"></span>
    </div>
</div>
