<div class="container process">
    <div class="content">  
        <div class="item__number">
            <div class="outer">
            </div>
            <h1>1</h1>
        </div>      
        <div class="item__card">
            <div class="glass">
                <div class="content__icone">
                    <i class="fas fa-solid fa-gear"></i>
                </div>
                <div class="content__text">
                    <h3>Définir son projet</h3>
                    <p class="paragraphe--left"> Avant de commencer toute démarche, il est important de définir clairement son projet d'investissement à Madagascar. Il faut déterminer les objectifs, les moyens nécessaires, les produits ou services à offrir, les besoins en termes de ressources humaines et matérielles, etc.</p>
                    <a routerLink="/investissement" class="btn btn-primary">Découvrez plus</a>
                </div>
            </div>
        </div>
    </div>  
    
    <div class="content">  
        <div class="item__number">
            <h1>2</h1>
        </div>    
        <div class="item__card">
            <div class="glass">
                <div class="content__icone">
                    <i class="fas fa-solid fa-building"></i>
                </div>
                <div class="content__text">
                    <h3>Trouver un partenaire local</h3>
                    <p class="paragraphe--left"> Il est conseillé de trouver un partenaire local pour faciliter les démarches administratives, le recrutement, la gestion des relations avec les clients et fournisseurs, etc. Il peut s'agir d'une entreprise existante ou d'un investisseur local.</p>
                    <a routerLink="/investissement" class="btn btn-primary">Investissez ici !</a>
                </div>
            </div>
        </div>  
    </div> 
    <div class="content">  
        <div class="item__number">
            <div class="outer">
            </div>
            <h1>3</h1>
        </div>      
        <div class="item__card">
            <div class="glass">
                <div class="content__icone">
                    <i class="fas fa-solid fa-lock"></i>
                </div>
                <div class="content__text">
                    <h3>Obtenir les autorisations nécessaires</h3>
                    <p class="paragraphe--left">  Les investisseurs étrangers doivent obtenir les autorisations nécessaires pour créer une entreprise à Madagascar, comme l'immatriculation auprès du registre de commerce et du crédit mobilier, l'obtention d'un permis de travail, etc.</p>
                    <a routerLink="/investissement" class="btn btn-primary">Consultez-nous</a>
                </div>
            </div>
        </div>
    </div>  
    <div class="content">  
        <div class="item__number">
            <h1>4</h1>
        </div>      
        <div class="item__card">
            <div class="glass">
                <div class="content__icone">
                    <i class="fas fa-solid fa-location-dot"></i>
                </div>
                <div class="content__text">
                    <h3>Trouver un lieu d'implantation</h3>
                    <p class="paragraphe--left"> Le choix du lieu d'implantation dépend des besoins spécifiques du projet, comme l'accès aux matières premières, aux infrastructures de transport, à la main-d'œuvre qualifiée, etc.</p>
                    <a routerLink="/investissement" class="btn btn-primary">Trouvez votre place</a>
                </div>
            </div>
        </div>
    </div>  
    <!-- <div class="process__gif"></div> -->
</div>
