
<footer class="main footer">
    <div class="footer-widget">
        <div class="footer__logo">
          <a routerLink="/">
            <img src="../../../assets/green-logo.png" alt="Logo Invest MADA" class="nav__image"/>
            <img src="../../../assets/mini-logo.png" alt="Logo Invest MADA" class="nav__image--phone"/>
          </a>
      
        </div>
        <nav class="footer__nav">
          <ul>
            <input type="checkbox" class="hide-menu" id="informationInput">
            <h4>Informations <label for="informationInput"> <i class="fas fa-chevron-down"></i></label></h4>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Flux RSS</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Contactez-nous</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> A-propos de nous</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Conditions d'utilisation</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Politique de confidentialités</a></li>
          </ul>
          <ul>
            <input type="checkbox" class="hide-menu" id="ressourceInput">
            <h4>Ressources pour vous <label for="ressourceInput"><i class="fas fa-chevron-down"></i></label></h4>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Actualités</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Calendrier Commercial</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Secteurs d'investissements</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> FAQ ( Forum Aux Questions )</a></li>
            <li class="nav__item"><a class="footer__link" routerLink="#"> Statistiques d'investissements</a></li>
          </ul>
        </nav>
    </div>
    <div class="footer__copyright">
        <div class="footer__container">
            <span>Copyright &copy; Invest MADA 2023 </span>
            <div class="footer__social">
                <span><a routerLink="#"><img src="../../../assets/mini-icon/facebook.png" alt="Facebook Invest Mada" class="icone"></a></span>
                <span><a routerLink="#"><img src="../../../assets/mini-icon/instagram.png" alt="Instagram Invest Mada" class="icone"></a></span>
                <span><a routerLink="#"><img src="../../../assets/mini-icon/twitter.png" alt="Twitter Invest Mada" class="icone"></a></span>
            </div>
        </div>
    </div>
</footer>

<div class="ispm">
    <img src="../../../assets/logo-ispm.png" alt="Logo ISPM" class="logo-ispm">
</div>
  