<div class="modal">
    <div class="modal-content">
        <section class="variety">
            <img [src]="'assets/carousel/fond_1.jpg'" alt="">
            <img [src]="'assets/carousel/fond_1.jpg'" alt="">
            <img [src]="'assets/carousel/fond_1.jpg'" alt="">
            <img [src]="'assets/carousel/fond_1.jpg'" alt="">
        </section>
        <section class="current__image">
            <div class="container">
                <img [src]="'assets/carousel/fond_1.jpg'" alt="">
            </div>
        </section>
        <section class="description">
            <h1 class="product__title">Nom du produit</h1>
            <div class="regions">
                <div class="item">
                    <img [src]="'assets/carousel/fond_1.jpg'" alt="">
                    <span>NomRegion</span>
                </div>
                <div class="item">
                    <img [src]="'assets/carousel/fond_1.jpg'" alt="">
                    <span>NomRegion</span>
                </div>
            </div>
            <div class="desc__product">
                <div class="heading">
                    <span>Description</span>
                    <i class="fa fa-solid fa-plus"></i>
                </div>
                <div class="details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nulla eveniet tenetur! Tempora ipsa nobis aperiam facilis quo dicta error ipsam ipsum odit quisquam doloribus a, accusamus ex cumque? Vero?</p>
                </div>
            </div>
            <div class="cat__product">
                <span>Catégorie : </span>
                <div class="cat"><span>Fruits</span></div>
            </div>
            <div class="season__product">
                <div class="pincking">
                    <div class="deb"><span>Jannvier</span></div>
                    <div class="deb"><span>Décembre</span></div>
                </div>
                <div class="planting">
                    <div class="deb"><span>Jannvier</span></div>
                    <div class="deb"><span>Décembre</span></div>
                </div>
            </div>
        </section>
    </div>
</div>
